   <footer class="footer-nav">
        <div class="footer-icons d-flex justify-content-around align-items-center">
            <a href="/"><i class="fas fa-home"></i></a>
            <a href="musician/profile"><i class="fas fa-user"></i></a>
            <a href="/now-playing"><i class="fas fa-music"></i></a>
            <a href="/search"><i class="fas fa-search"></i></a>
        </div>
    </footer>