body.landing-page {
    background: linear-gradient(120deg, #0d1b2a, #1b263b, #415a77);
    background-size: 300% 300%;
    animation: gradientShift 15s ease infinite;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 span {
    color: #00b4d8;
}